@tailwind base;
@tailwind components;
@tailwind utilities;

#background-wall {
  background-image: url("/grunge-wall-texture.jpg");
}
#darker {
  background-image: url("/edges-gradient-16-9-black.png");
  background-size: 100% 100%;
}
